<h1>Listing song_involvements</h1>

<table>
  <thead>
    <tr>
      <th>Song</th>
      <th>Artist</th>
      <th>Primary</th>
      <th>Featured</th>
      <th>Producer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @song_involvements.each do |song_involvement| %>
      <tr>
        <td><%= song_involvement.song_id %></td>
        <td><%= song_involvement.artist_id %></td>
        <td><%= song_involvement.primary %></td>
        <td><%= song_involvement.featured %></td>
        <td><%= song_involvement.producer %></td>
        <td><%= link_to 'Show', song_involvement %></td>
        <td><%= link_to 'Edit', edit_song_involvement_path(song_involvement) %></td>
        <td><%= link_to 'Destroy', song_involvement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song involvement', new_song_involvement_path %>
